.palette{
  height:100%;
}

.palette-colors{
  height:92%;
}

footer{
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items:center ;
}

.footer-emoji{
  transform: scale(1.4);
  margin-bottom: 3px;
  padding-left: 15px;
}